name: "Daily check and update"

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  check_and_update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout master
        uses: actions/checkout@v2

      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install requirements
        run: |
          pip install -r requirements.txt
      - name: Run main.py
        env:
          DATA: ${{ secrets.DATA }}
        run: |
          python main.py -t "template/data.js.mako" -o "script-insert.js"
      - name: Commit and push if changed
        run: |
          git diff
          git config --global user.name "Raids"
          git config --global user.email "palworld-raids@github.com"
          git add records.html
          git commit -m "Updated records" || exit 0
          git push
